name: Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t niri-build .

      - name: Build niri
        run: docker run --rm -v ${{ github.workspace }}:/workspace/niri -w /workspace niri-build cargo deb

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: niri-binary
          path: target/debian
